litp create -t storage-profile -p /infrastructure/storage/storage_profiles/blade_storage -o storage_profile_name='node_storage_profile'
litp create -t volume-group -p /infrastructure/storage/storage_profiles/blade_storage/volume_groups/vg1 -o volume_group_name='vg_root' -o volume_driver='lvm'
litp create -t file-system -p /infrastructure/storage/storage_profiles/blade_storage/volume_groups/vg1/file_systems/fs1 -o type='ext4' mount_point='/' size='16G'
litp create -t file-system -p /infrastructure/storage/storage_profiles/blade_storage/volume_groups/vg1/file_systems/fs2 -o type='swap' mount_point='swap' size='2G'
litp create -t physical-device -p /infrastructure/storage/storage_profiles/blade_storage/volume_groups/vg1/physical_devices/pd1 -o device_name='hd0'
